<hr>
<strong>{{ _t('WEBHOOKS_CONFIG_TITLE') }}</strong>
<p class="text-info">{{ _t('WEBHOOKS_CONFIG_DESC') }}</p>

<form action="{{ url }}" method="POST" class="form-horizontal">
    <div class="form-group">
        {% set userIsAdmin = hasAcl('@admins') %}
        {% set delta = userIsAdmin ? 0 : -1 %}
        {% for i in 0..(webhooks|length + delta) %}
            <div class="col-sm-2">
                <select class="form-control" name="format[]" {{ (webhooks[i] is defined and not userIsAdmin) ? 'disabled' : '' }}>
                    {% for key,label in formats %}
                        <option value="{{ key }}" {{ (webhooks[i] is defined and webhooks[i].format is same as key) ? "selected" : "" }}>{{ _t(label) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2">
                <select class="form-control" name="form[]" {{ (webhooks[i] is defined and not userIsAdmin) ? 'disabled' : '' }}>
                    <option value="0">{{ _t('WEBHOOKS_FORMS_ALL') }}</option>
                    {% for key,form in forms %}
                        <option value="{{ key }}" {{ (webhooks[i] is defined and (webhooks[i].form)|number_format is same as key) ? "selected" : "" }}>{{ form.bn_label_nature }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-8">
                <input 
                    type="text" 
                    name="url[]" {{ (webhooks[i] is defined and not userIsAdmin) ? 'disabled data-toggle="tooltip" data-placement="bottom" title="' ~ _t('WEBHOOKS_VISIBLE_ONLY_FOR_ADMINS') ~ '"' : ''}}
                    value="{{ webhooks[i] is defined ? (userIsAdmin ? webhooks[i].url : "***** #{ _t('WEBHOOKS_VISIBLE_ONLY_FOR_ADMINS')  } *****") : "" }}" 
                    class="form-control" 
                    placeholder="{{ _t('WEBHOOKS_URL_PLACEHOLDER') }}">
            </div>
        {% endfor %}
    </div>
    <span class="input-group-btn">
        <button
            id="btn-set-webhooks"
            {% if not userIsAdmin %} disabled data-toggle="tooltip" data-placement="bottom" title="{{ _t('BAZ_NEED_ADMIN_RIGHTS') }}"{% endif %}
            class="btn btn-primary pull-right" 
            type="submit">
            {{ _t('WEBHOOKS_UPDATE') }}
        </button>
    </span>
</form>